.h11
{
	text-align: center;
}
.row
{
	width:100%;
	height: 100%;
}
.box
{
	background-color: lightgrey;
	border:1px solid black;
	margin:0px;
	padding: 0px;
    z-index: -1;


}
.tt
{
	border:1px solid black;
	margin:10px;
	width:fit-content;
    font-size: 20px;

}

@media(min-width:  992px)
{	.p1{
		
		padding:28px;
		width:31%;
		margin:20px;
		position: fixed;

	}
	.p2

	{
		position: fixed;
		padding:29px;
		width:31%;
		margin:20px;

			float:right;
		    left:450px;

    }
    .p3
    {
    	position: fixed;
    	padding:29px;
		width:31%;
		margin:20px;

			float:right;
		    left:900px;
    }
    #p11
{
	position:absolute;
	left:364px;
	top:47px;

}
#p22
{
	position: absolute;
	left:843px;
	top:47px;
}
#p33
{
	position: absolute;
	float:right;
	right:13px;
	top:47px;
}

    
}

@media(min-width: 768px) and (max-width: 991px)
{
	.pm1
	{
		width:47%;
		padding :35px;
		float:right;
		margin:10px;


	} 
	.pm2
	{
		margin:10px;
        width:47%;
		padding :35px;

	}
	.pm3
	{
		width:98%;
		margin:10px;
		padding: 30px;
	}	
	 #p11
{
	position:absolute;
	left:292px;
	top:37px;

}
#p22
{
	position: fixed;
	left:708px;
	top:37px;
}
#p33
{
	position:fixed;
	float:right;
	left:883px;
	bottom:280px
}

}
@media(max-width: 767px)
{
	.m1
	{
		width:90%;
		margin:10px;
		padding:30px;
	}
		 #p11
{
	position:absolute;
	left:314px;
	top:37px;

}
#p22
{
	position: relative;
	left:343px;
	bottom:-85px;
}
#p33
{
	position:relative;
	bottom:-337px;
	left:327px;
	
}
}
